 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p> Hello, this will be much more complete in the future, stay tuned!</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img alt="PYTHON" height="80" width="80" src="{{ "/assets/img/python.png" | prepend: site.baseurl }}" />
      <img alt="SQL" height="80" width="80" src="{{ "/assets/img/sql.png" | prepend: site.baseurl }}" />
      <img alt="R" height="80" width="80" src="{{ "/assets/img/r.jpg" | prepend: site.baseurl }}" />
      <p> Hello, this will be much more complete in the future, stay tuned!</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>

      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> Hello, this will be much more complete in the future, stay tuned!</p>
    </div>
</div>
