 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p> Hello, this will be much more complete in the future, stay tuned!</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-postgresql-plain colored"></i>
      <i class="devicon-google-original colored"></i>
      <p> Hello, this will be much more complete in the future, stay tuned!</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <clr-icon shape="line-chart" class="has-badge"></clr-icon>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> Hello, this will be much more complete in the future, stay tuned!</p>
    </div>
</div>
